
html, body{
  background-color: #FDEDED;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Noto Sans SC', sans-serif;
}

footer{
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -50px;
  color: rgba(150, 13, 52, 0.5);
}

h4{
  font-weight: normal;
  font-size: 22px;
  padding: 0;
  margin: 2% 0;
  font-family: 'Noto Sans SC', sans-serif;
  color: #960D34;
}

h3{
  font-size: 26px;
  font-family: 'Noto Sans SC', sans-serif;
}

h2{
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  margin-bottom: 6%;
}

#nav-bar, #home-content, #about-content{
  width: 60%;
  margin: 0 auto;
}

#about-header, #about-edu, #about-family, #work-content{
  width: 60%;
  margin: 3% auto;
  overflow: hidden;

}

#contact-content{
  width: 60%;
  margin: 1% auto 0 auto;
  overflow: hidden;
  text-align: center;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item{
  display: block;
  float: right;
  padding: 3% 3%;
  text-decoration: none;
  margin: 5% 0;

  font-size: 24px;
}

a.menu-link:visited, a.menu-link:link, a.work-links{
  text-decoration: none;
  color: #27272B;
}

#work-link:hover, .work-links:hover{
  color: #7eb09b;
}

#about-link:hover{
  color: #3581B8;
}

#contact-link:hover{
  color: #EF7557;
}

.menu-logo{
  display: block;
  float: left;
  width: 20%;
}

.menu-logo-mobile{
  display: block;
  width: 30%;
  margin: auto;
  padding-bottom: 3%;
}

.menu-item-mobile{
  display: block;
  text-decoration: none;
  margin: 4% auto;
  font-size: 24px;
  width: 30%;
  text-align: center;
}

#first-row, #second-row{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-button{
  display: inline-block;
  width: 30%;
  margin: 0 8%;
}

.home-button-mobile{
  display: block;
  width: 55%;
  margin: auto;
}

#header-img{
  display: block;
  float: left;
  width: 30%;
}

#header-img-mobile{
  display: block;
  margin: 5% auto;
}

#profile-pic{
  margin: auto;
}

#header-textbox{
  display: block;
  float: right;
  width: 70%;
  margin-top: 5%;
}

#header-textbox-mobile{
  display: block;
  width: 100%;
  margin: 5% auto;
  text-align: center;
}

#header-desc-mobile{
  font-size: 22px;
  text-align: left;
}

.h3-mobile{
  text-align: center;
}

#edu-textbox, #ff-textbox{
  font-size: 22px;
}

#header-title, #header-desc{
  width: 90%;
  margin: auto;
  padding: 3% ; 
}

#header-title{
  font-size: 26px;
  font-weight: bold;
}

#header-desc{
  font-size: 22px;
}

.grad-pics, .poly-pics, .poly-pics-mobile{
  display: block;
  margin: auto;
  text-align: center;
}

.poly-pics, .poly-pics-mobile{
  padding: 2% 0;
}

.poly-pics-mobile, .grad-pics-mobile{
  width: 100%;
}

#mobile-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-icon{
  width: 22%;
  padding: 2% 1%;
  display: inline-block;
}

.mail-icon{
  margin-top: 3%;
  text-align: center;
}

.social-icon-mobile{
  width: 45%;
  padding: 1%;
  display: inline-block;
}

.mail-icon-mobile{
  margin-top: 3%;
  text-align: center;
}

.work-card{
  display: inline-block;
  width: 30%;
  margin: 1%;
  vertical-align: text-top;
}

.work-card-mobile{
  display: block;
  width: 80%;
  margin: 3% auto;
}

.work-desc{
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  
}

.work-text{
  padding: 1% 2%;
  text-align: left;
}

.work-thumbnails{
  border-radius: 8%;
}

.tall-img{
  margin: auto;
  text-align: center;
  background-color: #3581B8;
  width: 100%;
  height: auto;
}

.work-textbox{
  width: 70%;
  margin: auto;
  font-size: 24px ;
}

.work-textbox-mobile{
  width: 100%;
  margin: auto;
  font-size: 18px;
}



@media (max-width: 700px) {
    /* mobile CSS: hide .desktop div */
    .desktop {
      display: none;
    }
  }

  @media (min-width: 701px) {
    /* desktop CSS: hide .mobile div */
    .mobile {
      display: none;
    }
  }


/*


*/