
html, body{
  background-color: #FDEDED;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Noto Sans SC', sans-serif;
}

footer{
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  width: 100%;
  position: absolute;
  bottom: 1px;
  color: rgba(150, 13, 52, 0.5);
}

/*------------- DESKTOP --------------*/

#nav-bar, #home-content{
  width: 60%;
  margin: 0 auto;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item{
  display: inline;
  float: right;
  padding: 3% 3%;
  text-decoration: none;
  margin: 5% 0;

  font-size: 24px;
}

a.menu-link:visited, a.menu-link:link{
  text-decoration: none;
  color: #27272B;
}

#work-link:hover{
  color: #7eb09b;
}

#about-link:hover{
  color: #3581B8;
}

#contact-link:hover{
  color: #EF7557;
}


.menu-logo{
  display: inline;
  float: left;
  width: 20%;
}

#first-row, #second-row{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-button{
  display: inline;
  margin: 0 8%;
}


#borderimg1 { 
    /*border: 10px solid transparent;
    padding: 15px;
    border-image: url(images/border.png) 30 round;
    height: 70px;*/
    max-width: 100%;
    min-width: 25%;
    background-color: green;
  }

#test-img{
    max-width: 100%;
    min-width: 50%;
    border: 20px solid transparent;
    padding: 5px;
    border-radius: 30px;
    border-image: url(images/border.png) 30 round;
}

@media (max-width: 700px) {
    /* mobile CSS: hide .desktop div */
    .desktop {
      display: none;
    }
  }

  @media (min-width: 700px) {
    /* desktop CSS: hide .mobile div */
    .mobile {
      display: none;
    }
  }


/*



*/