
html, body{
  background-color: #FDEDED;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Noto Sans SC', sans-serif;
}

footer{
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -50px;
  color: rgba(150, 13, 52, 0.5);
}

/*------------- DESKTOP --------------*/

#nav-bar, #home-content{
  width: 60%;
  margin: 0 auto;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item{
  display: block;
  float: right;
  padding: 3% 3%;
  text-decoration: none;
  margin: 5% 0;

  font-size: 24px;
}

a.menu-link:visited, a.menu-link:link{
  text-decoration: none;
  color: #27272B;
}

#work-link:hover{
  color: #7eb09b;
}

#about-link:hover{
  color: #3581B8;
}

#contact-link:hover{
  color: #EF7557;
}

.menu-logo{
  display: block;
  float: left;
  width: 20%;
}

.menu-logo-mobile{
  display: block;
  width: 30%;
  margin: auto;
  padding-bottom: 3%;
}

#first-row, #second-row{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-button{
  display: inline-block;
  width: 30%;
  margin: 0 8%;
}

.home-button-mobile{
  display: block;
  width: 55%;
  margin: auto;
}

@media (max-width: 700px) {
    /* mobile CSS: hide .desktop div */
    .desktop {
      display: none;
    }
  }

  @media (min-width: 701px) {
    /* desktop CSS: hide .mobile div */
    .mobile {
      display: none;
    }
  }


/*


*/